# Rename to .env and fill values for deployment
MONGO_URI=YOUR_MONGO_URI_HERE
ADMIN_KEY=ChangeThisAdminKey
PUBLIC_URL=https://your-deploy-url.example.com

# PayFast sandbox credentials
PAYFAST_MERCHANT_ID=10043743
PAYFAST_MERCHANT_KEY=7t8eg1prjfj0m
PAYFAST_PASSPHRASE=2022gogoComeBack2m
PAYFAST_SANDBOX=1
