# Rename to .env and fill values for deployment
PORT=10000
PUBLIC_URL=https://twongtde-p9ng.onrender.com

# PayFast sandbox credentials
PAYFAST_MERCHANT_ID=10043743
PAYFAST_MERCHANT_KEY=7t8eg1prjfj0m
PAYFAST_PASSPHRASE=2022gogoComeBack2m
PAYFAST_SANDBOX=1
